.AutocompleteOverlay {
  position: relative;
}

.AutocompleteOverlay .background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.AutocompleteOverlay .content {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border: 1px solid #333;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0.5rem;
  gap: 0.5rem;
  z-index: 4;
}
